body {
  font: 14px Futura, sans-serif;
  margin: 20px;
  height: 400px;
  width: 300px;
}

ol,
ul {
  padding-left: 30px;
}

.title {
  font-size: 1.6em;
  padding-bottom: 1em;
}

.form-title {
  padding-bottom: 0.5em;
}
